.profile__about {
  margin: 0;
  font-size: 18px;
  line-height: 122%;
  font-weight: normal;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .profile__about  {
    font-size: 14px;
    line-height: 121%;
    text-align: center;
    width: 100%;
  }
}