.popup__name {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 125%;
  font-weight: normal;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}