.popup__container_type_image {
  max-width: calc(100% - (2 * 80px));
}

@media screen and (max-width: 1023px) {
  .popup__container_type_image {
   max-width: calc(100% - (2 * 60px));
  }
}

@media screen and (max-width: 767px) {
  .popup__container_type_image {
   max-width: calc(100% - (2 * 40px));
  }
}
